@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  /* max-width: 900px; */
  margin: 0 auto;
  padding: 0 20px;
}

/* SECTION */
/* SECTION */
/* SECTION */

section {
  height: 100vh;
  background-color: rgb(250,181,197);
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc {
  width: 40rem;
  background-color: rgb(179,226,216);
}

h2 {
  font-size: 4rem;
  color: rgb(11, 10, 10);
  background-color: rgb(246,224,165);
  text-align: center;
  padding: 1rem;
}

form, 
form > * {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding: 1rem 0;
  font-size: 1.6rem;
  border-bottom: 3px solid rgb(242,139,0);
}

form div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input,
select {
  font-size: 1.6rem;
  padding: 7px;
  width: 20rem;
  text-align: right;
}

.btn {
  margin: 5px 0;
  background-color: rgb(246,224,165);
  color: rgb(11, 10, 10);
  outline: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  background-color: rgb(242,139,0);
}

.error {
  color: red;
  display: none;
}

.result {
  width: 90%;
  margin: 0 auto;
  padding: 1rem;
}

.result > * {
  background-color: rgb(250,181,197);
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
}

.total {
  color: rgb(98,56,180);
}